body{
    background: linear-gradient(68.15deg, #323d63 16.62%, #3b9292 85.61%)
}

.caixa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
}

.imagem-cabeçalho{
    height: 120px;
    border-radius: 10px;
}

nav li{
    display: inline;
    margin: 0 0 0 22px;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.principal{
    border-top: 0.4px solid #288850;
}