body{
    background: linear-gradient(68.15deg, #323d63 16.62%, #3b9292 85.61%)
}

.caixa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
}

.imagem-cabeçalho{
    height: 120px;
    border-radius: 10px;
}

nav li{
    display: inline;
    margin: 0 0 0 22px;
}

nav a{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #17006B;
}

.conteudo{
    border-top: 0.4px solid #34af67;
    color: #ffffff;
}

.titulo-principal{
text-align: center;
margin-top: 32px;
margin-bottom: 25px;
text-transform: uppercase;
font-size: 33px;
}

.lista-aprendizado{
   display: inline-block;
   text-align: left;
}

.imagem-wb2{
    height: 350px;
    display: inline-block;
}